<manifest package="com.liferay.analytics.android"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<application>
		<meta-data
			android:name="com.liferay.analytics.DataSourceId"
			android:value="@string/data_source_id"
			/>
		<meta-data
			android:name="com.liferay.analytics.EndpointUrl"
			android:value="@string/endpoint_url"/>
	</application>
</manifest>